<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="AddressBookContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=AddressBook.Model.AddressBookContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="con" connectionString="server=.;database=AddressBook;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>